.Lside {
  height: 1000rem;
  width: 21%;
  right: 0;
  flex-wrap: wrap;
}
.Contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Contacts {
  font-size: 1.6rem;
  font-weight: 550;
  padding-left: 1rem;
}
.icons {
  display: flex;
  align-items: center;
  padding: 2px 20px;
}
.chaticon {
  display: flex;
}
.Profilee {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 550;
}
.Profilee > img {
  border-radius: 50%;
  width: 12.5%;
}
